name: Check dependencies

on:
  - push
  - pull_request

jobs:
  check_dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Check Python version
        run: python --version
      - name: Install PDM
        run: pip install pdm
      - name: Export dependencies to requirements.txt
        run: pdm export --without-hashes --format requirements > requirements.txt
      - name: List requirements.txt file
        run: cat requirements.txt
